body {
  margin: 0;
  font-family: Arial;
  background: #f4f6f8;
}

header {
  background: white;
  color: black;
  padding: 15px;
  font-size: 20px;
}

#time {
  float: right;
  font-size: 14px;
}

.container {
  display: flex;
  height: calc(100vh - 100px);
}

aside {
  width: 25%;
  background: #f3f1f1;
  padding: 10px;
  overflow-y: auto;
}

main {
  width: 50%;
  padding: 10px;
}

.map {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}


.zone {
  width: 150px;
  height: 80px;
  background: #e0e0e0;
  text-align: center;
  padding-top: 20px;
  border-radius: 6px;
}

.zone.HIGH { background:#ef9a9a }
.zone.MEDIUM { background:#fff59d }
.zone.LOW { background:#a5d6a7 }

footer {
  background: rgb(58, 53, 53);
  color: white;
  text-align: center;
  padding: 10px;
}
.pulse-marker .pulse {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  animation: pulse 1.5s infinite;
}

.pulse-marker .red {
  background:red;
}

@keyframes pulse {
  0% { transform: scale(1); opacity: 1; }
  100% { transform: scale(2); opacity: 0; }
}
#alerts div {
  color: black !important;
  font-weight: normal !important;
}
main h4 {
  margin: 0;
  padding-bottom: 2px;
}

#map {
  height: calc(100% - 20px);
  margin-top: -18px;
}